@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .bgCol {
background: #00eaff;
background: linear-gradient(147deg,rgba(0, 234, 255, 1) 40%, rgba(255, 0, 174, 1) 100%, rgba(255, 0, 174, 1) 0%);
  }
  
  .dark .bgCol {
background: #007E87;
background: linear-gradient(134deg,rgba(0, 126, 135, 1) 0%, rgba(0, 126, 135, 1) 8%, rgba(189, 0, 129, 1) 100%);  }
}

@layer components {
  .formBgCol {
background: #00EAFF;
background: linear-gradient(315deg,rgba(0, 234, 255, 1) 0%, rgba(0, 234, 255, 1) 8%, rgba(255, 0, 174, 1) 100%);
  }
  
  .dark .formBgCol {
background: #007E87;
background: linear-gradient(315deg,rgba(0, 126, 135, 1) 0%, rgba(0, 126, 135, 1) 8%, rgba(189, 0, 129, 1) 100%);  }
}