@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@layer components {
  .bgCol {
background: #ffffff;
background: linear-gradient(90deg,rgba(255, 255, 255, 1) 69%, rgba(0, 0, 0, 1) 100%, rgba(0, 0, 0, 1) 20%);
  }
  
  .dark .bgCol {
background: #000000;
background: linear-gradient(90deg,rgba(0, 0, 0, 1) 69%, rgba(255, 255, 255, 1) 100%, rgba(255, 255, 255, 1) 20%);
}
}
